.header {
	background-color: var(--color-bg-medium);
}

.header__wrapper {
	max-width: var(--layout-width);
	margin: 0 auto;
	padding: 40px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu {
	display: flex;
	gap: 40px;
	list-style: none;
}

.menu__item a {
	padding: 8px 16px;
	font-size: 18px;
	line-height: 120%;
	color: var(--color-text);
}

.menu__item:hover a {
	color: var(--color-link-hover);
}

.menu__item_active a {
	border: 1px solid var(--color-stroke);
	border-radius: var(--border-8);
	color: var(--color-link-hover);
}
.menu__burger {
	display: none;
}
.header__login {
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--color-text);
}

.header__login:hover {
	color: var(--color-link-hover);
}

@media (max-width: 960px) {
	.menu {
		display: none;
	}
	.header__login {
		display: none;
	}
	.menu__burger {
		border: none;
		background: none;
		display: inline;
	}
}
@media (max-width: 480px) {
	.header__wrapper {
		padding: 30px 24px;
	}
	.header__logo {
		width: 200px;
	}
}
